api-xds/src/main/resources/schema/XDSDocumentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
				  xmlns:rmd="urn:ihe:iti:rmd:2017" xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0"
				  xmlns:query="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0"
				  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
				  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ihe="urn:ihe:iti:xds-b:2007"
				  xmlns:lcm="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0"
				  name="XDSDocumentService"
				  xmlns:euAccess="http://ws.gematik.de/epa-xds-document/I_Document_Management/v1.0"
				  targetNamespace="urn:ihe:iti:xds-b:2007">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:ihe:iti:xds-b:2007" xmlns:ihe="urn:ihe:iti:xds-b:2007">
			<xsd:include schemaLocation="ext/IHE/XDS.b_DocumentRepository.xsd"/>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0">
			<xsd:include schemaLocation="ext/ebRS/rs.xsd"/>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0" xmlns:lcm="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0">
			<xsd:include schemaLocation="ext/ebRS/lcm.xsd"/>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" xmlns:lcm="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0">
			<xsd:include schemaLocation="ext/ebRS/rim.xsd"/>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0" xmlns:query="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0">
			<xsd:include schemaLocation="ext/ebRS/query.xsd"/>
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:ihe:iti:rmd:2017" xmlns:rmd="urn:ihe:iti:rmd:2017">
			<xsd:include schemaLocation="ext/IHE/RMD.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import schemaLocation="XDSDocumentService.xsd" namespace="http://ws.gematik.de/epa-xds-document/I_Document_Management/v1.0"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="Header_Message">
		<wsdl:part name="headerPart" element="euAccess:headerContent"/>
	</wsdl:message>
	<wsdl:message name="ProvideAndRegisterDocumentSet-b_Message">
		<wsdl:part name="body" element="ihe:ProvideAndRegisterDocumentSetRequest"/>
	</wsdl:message>
	<wsdl:message name="ProvideAndRegisterDocumentSet-bResponse_Message">
		<wsdl:part name="body" element="rs:RegistryResponse"/>
	</wsdl:message>
	<wsdl:message name="RetrieveDocumentSet_Message">
		<wsdl:part name="body" element="ihe:RetrieveDocumentSetRequest"/>
	</wsdl:message>
	<wsdl:message name="RetrieveDocumentSetResponse_Message">
		<wsdl:part name="body" element="ihe:RetrieveDocumentSetResponse"/>
	</wsdl:message>
	<wsdl:message name="RegistryStoredQuery_Message">
		<wsdl:part name="body" element="query:AdhocQueryRequest"/>
	</wsdl:message>
	<wsdl:message name="RegistryStoredQueryResponse_Message">
		<wsdl:part name="body" element="query:AdhocQueryResponse"/>
	</wsdl:message>
	<wsdl:message name="DeleteDocumentSet_Message">
		<wsdl:part name="body" element="lcm:RemoveObjectsRequest"/>
	</wsdl:message>
	<wsdl:message name="DeleteDocumentSetResponse_Message">
		<wsdl:part name="body" element="rs:RegistryResponse"/>
	</wsdl:message>
	<wsdl:message name="UpdateResponder_RestrictedUpdateDocumentSet">
		<wsdl:part name="body" element="lcm:SubmitObjectsRequest"/>
	</wsdl:message>
	<wsdl:message name="UpdateResponder_RestrictedUpdateDocumentSetResponse">
		<wsdl:part name="body" element="rs:RegistryResponse"/>
	</wsdl:message>
	<wsdl:portType name="I_Document_Management_PortType">
		<wsdl:operation name="DocumentRegistry_RegistryStoredQuery">
			<wsdl:input message="ihe:RegistryStoredQuery_Message" wsaw:Action="urn:ihe:iti:2007:RegistryStoredQuery"/>
			<wsdl:output message="ihe:RegistryStoredQueryResponse_Message" wsaw:Action="urn:ihe:iti:2007:RegistryStoredQueryResponse"/>
		</wsdl:operation>
		<wsdl:operation name="DocumentRepository_RetrieveDocumentSet">
			<wsdl:input message="ihe:RetrieveDocumentSet_Message" wsaw:Action="urn:ihe:iti:2007:RetrieveDocumentSet"/>
			<wsdl:output message="ihe:RetrieveDocumentSetResponse_Message" wsaw:Action="urn:ihe:iti:2007:RetrieveDocumentSetResponse"/>
		</wsdl:operation>
		<wsdl:operation name="DocumentRepository_ProvideAndRegisterDocumentSet-b">
			<wsdl:input message="ihe:ProvideAndRegisterDocumentSet-b_Message" wsaw:Action="urn:ihe:iti:2007:ProvideAndRegisterDocumentSet-b"/>
			<wsdl:output message="ihe:ProvideAndRegisterDocumentSet-bResponse_Message" wsaw:Action="urn:ihe:iti:2007:ProvideAndRegisterDocumentSet-bResponse"/>
		</wsdl:operation>
		<wsdl:operation name="DocumentRegistry_DeleteDocumentSet">
			<wsdl:input message="ihe:DeleteDocumentSet_Message" wsaw:Action="urn:ihe:iti:2010:DeleteDocumentSet"/>
			<wsdl:output message="ihe:DeleteDocumentSetResponse_Message" wsaw:Action="urn:ihe:iti:2010:DeleteDocumentSetResponse"/>
		</wsdl:operation>
		<wsdl:operation name="UpdateResponder_RestrictedUpdateDocumentSet">
			<wsdl:input message="ihe:UpdateResponder_RestrictedUpdateDocumentSet" wsaw:Action="urn:ihe:iti:2018:RestrictedUpdateDocumentSet"/>
			<wsdl:output message="ihe:UpdateResponder_RestrictedUpdateDocumentSetResponse" wsaw:Action="urn:ihe:iti:2018:RestrictedUpdateDocumentSetResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="I_Document_Management_Insurant_PortType">
		<wsdl:operation name="DocumentRegistry_RegistryStoredQuery">
			<wsdl:input message="ihe:RegistryStoredQuery_Message" wsaw:Action="urn:ihe:iti:2007:RegistryStoredQuery"/>
			<wsdl:output message="ihe:RegistryStoredQueryResponse_Message" wsaw:Action="urn:ihe:iti:2007:RegistryStoredQueryResponse"/>
		</wsdl:operation>
		<wsdl:operation name="DocumentRepository_RetrieveDocumentSet">
			<wsdl:input message="ihe:RetrieveDocumentSet_Message" wsaw:Action="urn:ihe:iti:2007:RetrieveDocumentSet"/>
			<wsdl:output message="ihe:RetrieveDocumentSetResponse_Message" wsaw:Action="urn:ihe:iti:2007:RetrieveDocumentSetResponse"/>
		</wsdl:operation>
		<wsdl:operation name="DocumentRepository_ProvideAndRegisterDocumentSet-b">
			<wsdl:input message="ihe:ProvideAndRegisterDocumentSet-b_Message" wsaw:Action="urn:ihe:iti:2007:ProvideAndRegisterDocumentSet-b"/>
			<wsdl:output message="ihe:ProvideAndRegisterDocumentSet-bResponse_Message" wsaw:Action="urn:ihe:iti:2007:ProvideAndRegisterDocumentSet-bResponse"/>
		</wsdl:operation>
		<wsdl:operation name="DocumentRegistry_DeleteDocumentSet">
			<wsdl:input message="ihe:DeleteDocumentSet_Message" wsaw:Action="urn:ihe:iti:2010:DeleteDocumentSet"/>
			<wsdl:output message="ihe:DeleteDocumentSetResponse_Message" wsaw:Action="urn:ihe:iti:2010:DeleteDocumentSetResponse"/>
		</wsdl:operation>
		<wsdl:operation name="UpdateResponder_RestrictedUpdateDocumentSet">
			<wsdl:input message="ihe:UpdateResponder_RestrictedUpdateDocumentSet" wsaw:Action="urn:ihe:iti:2018:RestrictedUpdateDocumentSet"/>
			<wsdl:output message="ihe:UpdateResponder_RestrictedUpdateDocumentSetResponse" wsaw:Action="urn:ihe:iti:2018:RestrictedUpdateDocumentSetResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="I_Document_Management_Binding_Soap12" type="ihe:I_Document_Management_PortType">
		<soap12:binding style="document" transport="http://cxf.apache.org/transports/httpsvau"/>
		<wsaw:UsingAddressing wsdl:required="true"/>
		<wsdl:operation name="DocumentRegistry_RegistryStoredQuery">
			<soap12:operation soapAction="urn:ihe:iti:2007:RegistryStoredQuery" soapActionRequired="false"/>
			<wsdl:input>
				<soap12:header message="ihe:Header_Message" part="headerPart" use="literal" minOccurs="0"/>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DocumentRepository_ProvideAndRegisterDocumentSet-b">
			<soap12:operation soapAction="urn:ihe:iti:2007:ProvideAndRegisterDocumentSet-b" soapActionRequired="false"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DocumentRepository_RetrieveDocumentSet">
			<soap12:operation soapAction="urn:ihe:iti:2007:RetrieveDocumentSet" soapActionRequired="false"/>
			<wsdl:input>
				<soap12:header message="ihe:Header_Message" part="headerPart" use="literal" minOccurs="0"/>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DocumentRegistry_DeleteDocumentSet">
			<soap12:operation soapAction="urn:ihe:iti:2010:DeleteDocumentSet" soapActionRequired="false"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateResponder_RestrictedUpdateDocumentSet">
			<soap12:operation soapAction="urn:ihe:iti:2018:RestrictedUpdateDocumentSet" soapActionRequired="false"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="I_Document_Management_Insurant_Binding_Soap12" type="ihe:I_Document_Management_Insurant_PortType">
		<soap12:binding style="document" transport="http://cxf.apache.org/transports/httpsvau"/>
		<wsaw:UsingAddressing wsdl:required="true"/>
		<wsdl:operation name="DocumentRegistry_RegistryStoredQuery">
			<soap12:operation soapAction="urn:ihe:iti:2007:RegistryStoredQuery" soapActionRequired="false"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DocumentRepository_ProvideAndRegisterDocumentSet-b">
			<soap12:operation soapAction="urn:ihe:iti:2007:ProvideAndRegisterDocumentSet-b" soapActionRequired="false"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DocumentRepository_RetrieveDocumentSet">
			<soap12:operation soapAction="urn:ihe:iti:2007:RetrieveDocumentSet" soapActionRequired="false"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DocumentRegistry_DeleteDocumentSet">
			<soap12:operation soapAction="urn:ihe:iti:2010:DeleteDocumentSet" soapActionRequired="false"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UpdateResponder_RestrictedUpdateDocumentSet">
			<soap12:operation soapAction="urn:ihe:iti:2018:RestrictedUpdateDocumentSet" soapActionRequired="false"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="XDSDocumentService">
		<wsdl:port name="I_Document_Management" binding="ihe:I_Document_Management_Binding_Soap12">
			<soap12:address location="https://FQDN-from-DNS-lookup:443/epa/xds-document/api/I_Document_Management"/>
		</wsdl:port>
		<wsdl:port name="I_Document_Management_Insurant" binding="ihe:I_Document_Management_Insurant_Binding_Soap12">
			<soap12:address location="https://FQDN-from-DNS-lookup:443/epa/xds-document/api/I_Document_Management_Insurant"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>